[% PROCESS 'html-incblocks.txt' %]
[% INCLUDE htmlstart
     title="Torrus Reports: " _ year
     contentClass="SingleColumnContent"
     noTopMenu=1 %]

<H1>Torrus reports: [% year %]</H1>

[% INCLUDE treename %]

<DIV Class="ReportTableTitle">Monthly reports</DIV>
<TABLE CLASS="ReportTable">
<TR CLASS="ReportHeadrow">
<TD CLASS="ReportHeadCell">Month</TD>
</TR>
[% FOREACH mth = data.months %]
<TR CLASS="ReportRow">
<TD CLASS="ReportCell">
<A HREF="[% monthlyUrl(mth) %]">[% monthName(mth) _ ' ' _ year %]</A>
</TD>
</TR>
[% END %]
</TABLE>

[% INCLUDE htmlend %]
