[% PROCESS 'html-incblocks.txt' %]
[% global.SearchString = variables.SEARCH; clearVar('SEARCH') %]
[% INCLUDE htmlstart
     title='Search results: ' _ global.SearchString
     contentClass="SingleColumnContent" %]

<H1>Search results: [% global.SearchString %]</H1>
[% INCLUDE treename %]
<DIV CLASS="Listing">
[% results = searchResults(global.SearchString);
   counter = 0;

   FOREACH entry IN results;

    counter = counter + 1;
    IF counter % 2 == 0;
      evenRow = 1;
    ELSE;
      evenRow = 0;
    END;
%]
  <DIV CLASS="[% evenRow ? 'ListRowEven' : 'ListRow' %]">
    <SPAN CLASS="NodeName"><A HREF="[%url(entry.token)%]">
        [% entry.path %]</A></SPAN>
    [% FOREACH param IN entry.match.keys %]
      <SPAN CLASS="NodeDescr">
        [% param _ ': ' _ xmlnorm(entry.match.$param) %]
      </SPAN>
    [% END %]
  </DIV>
[% END %]
</DIV>


</DIV><!-- Content -->[% global.contentFinished = 1 %]
<DIV CLASS="BottomMenu">
[% INCLUDE shortcut url=url(pathToken('/')) text="Datasources tree"
                    title="Back to the datasources tree" %]
[% INCLUDE searchdialog %]
</DIV>

[% INCLUDE htmlend %]
