[% PROCESS 'html-incblocks.txt' %]
[% INCLUDE htmlstart
     title="Tokensets"
     contentClass="SingleColumnContent" %]

<H1>Tokensets</H1>

[% INCLUDE treename %]

<DIV CLASS="Listing">
[%   counter = 0;
     evenRow = 0;

     FOREACH tset = tsetList().sort;
       sz = tsetMembers(tset).size;
       IF sz.length == 0; sz=0; END;

         counter = counter + 1;

         IF counter % 2 == 0;
           evenRow = 1;
         ELSE;
           evenRow = 0;
         END;
%]
  <DIV CLASS="[% evenRow ? 'ListRowEven' : 'ListRow' %]">
    <SPAN CLASS="TokensetDescr">
      <A HREF="[%url(tset)%]">[% xmlnorm(param(tset, 'comment')) %]</A>
      ([% sz %])
    </SPAN>
  </DIV>
     [% END %]
</DIV>

[% INCLUDE tsetbottomline %]
[% INCLUDE htmlend %]
